<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./head') %>
    <link rel="stylesheet" href="/css/404.css">
    <title>ERREUR 404</title>
</head>

<body>
    <div class="container">
        <%- include('./header') %>
        <main class="content error-404">
            <h1 class="text-align-center font-32">ERREUR 404 <br /> Page introuvable</h1><br><a href="/" class="font-14">Retour à la page d'accueil</a>
        </main>
        <%- include('./footer') %>
    </div>
</body>
<script src="https://kit.fontawesome.com/8c916de43d.js" crossorigin="anonymous"></script>
</html>
