<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('./head') %>
        <title>E-Achat - À propos</title>
        <link rel="stylesheet" href="/css/a-propos.css">
</head>

<body>
    <div class="container">
        <%- include('./header') %>
        <main class="content">
            <h1>À propos de notre site E-Achat de vente de matériel informatique</h1>

            <section>
                <h2>Notre mission</h2>
                <p>Notre mission est de fournir les meilleurs produits informatiques à nos clients, qu'il s'agisse de
                    professionnels ou de particuliers. Nous voulons offrir une expérience de magasinage en ligne simple,
                    rapide et sécurisée pour que nos clients puissent acheter le matériel dont ils ont besoin sans
                    tracas.</p>
            </section>

            <section>
                <h2>Notre équipe</h2>
                <p>Notre équipe est composée de professionnels compétents et passionnés qui ont une connaissance
                    approfondie du matériel informatique. Nous sommes là pour vous aider à trouver les produits qui
                    répondent le mieux à vos besoins et à répondre à toutes vos questions.</p>
            </section>

            <section>
                <h2>Nos produits</h2>
                <p>Nous proposons une large gamme de produits informatiques, allant des ordinateurs de bureau aux
                    ordinateurs portables, des composants et accessoires aux périphériques de gaming. Nous travaillons
                    avec des fournisseurs de confiance pour offrir des produits de qualité à des prix compétitifs.</p>
            </section>

            <section>
                <h2>Notre engagement envers nos clients</h2>
                <p>Nous sommes déterminés à offrir une expérience de magasinage en ligne exceptionnelle à nos clients.
                    Nous offrons une garantie de satisfaction à 100% et nous sommes toujours disponibles pour répondre à
                    toutes les questions que vous pourriez avoir.</p>
            </section>
        </main>

        <%- include('./footer') %>
    </div>
</body>
<script src="https://kit.fontawesome.com/8c916de43d.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</html>