<footer>
    <div class="footer-menu">
        <a href="/a-propos" class="a-propos">À propos</a>
        <a href="/" class="contact">Contact</a>
        <a href="https://www.linkedin.com/in/erwan-mettouchi-390516181/" target="_blank" class="linkedin">
            <img src="/images/icons/linkedin-icon.png" alt="Logo du site Linkedin">
        </a>
        <a href="https://twitter.com/home?lang=fr" target="_blank" class="twitter">
            <img src="/images/icons/twitter-icon.png" alt="Logo du site Twitter">
        </a>
    </div>
</footer>