<header>
    <nav class="navbar">
        <a href="/" class="logo font-32">E-Achat</a>
        <form action="/search" method="get">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="query" placeholder="Rechercher des articles..." value="<%= locals.search ? search : "" %>">
            </div>
        </form>
        <div class="nav-links">
            <ul>
                <li>
                    <img src="/images/icons/avatar-picture.png" alt="Avatar">
                    <p>
                        <% if(user.length !== 0){ %>
                            <a href="/account">Mon compte</a>
                            <% }else{ %>
                                <a href="/login">Connexion/Inscription</a>
                        <% } %>
                    </p>
                </li>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>
                        <a href="/cart">Mon panier (<%= panier.length %>)</a>
                    </p>
                </li>
            </ul>
        </div>
        <img src="/images/icons/burger-menu.jpg" alt="Menu burger" class="menu-burger">
    </nav>
</header>