<header>
    <nav class="navbar">
        <a href="/" class="logo font-32">Nom du site</a>
        <form action="/search" method="get">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="search" placeholder="Rechercher des articles...">
            </div>
        </form>
        <div class="nav-links">
            <ul>
                <li>
                    <img src="/images/icons/avatar-picture.png" alt="Avatar">
                    <p>
                        <a href="/inscription">Connexion/Inscription</a>
                    </p>
                </li>
                <li>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>
                        <a href="/cart">Mon panier</a>
                    </p>
                </li>
            </ul>
        </div>
        <img src="/images/icons/burger-menu.jpg" alt="Menu burger" class="menu-burger">
    </nav>
</header>